svg {
    height: 100vh;
    width: 100vw;
}

@keyframes my-animation {

    0%,
    100% {
        filter: url(#filter);
    }

    3%,
    97% {
        filter: url(#filter-3);
    }

    5%,
    95% {
        filter: url(#filter-2);
    }

    12%,
    88% {
        filter: url(#filter-3);
    }

    15%,
    85% {
        filter: url(#filter);
    }

    22%,
    78% {
        filter: none;
    }
}

#my-image {
    filter: url(#filter);
    animation: 4.6s my-animation alternate infinite;
}