html {
    box-sizing: border-box
}

body {
    width: 100%;
    margin: 0;
    background-color: black;
}

.section {
    margin-top: 5%;
}

.side-padding {
    padding:0  5% ;
}

.racer-images {
    z-index: 1;
}

.racer-images > img {
    
    bottom: 0%;
    position: absolute;
}

#gyaru-racer{ 
    height: 100%;
}

#cyber-racer{ 
    height: 90%;
    left: 14%;
}

.logo-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-title {
    position: absolute;
    z-index: 1;
    margin: auto;
    filter: drop-shadow(0px 16px 16px black);
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.game-title img {
    width: 100%;
}

.game-backgrounds > div {
    display: block !important;
}


*,
*:before,
*:after {
    box-sizing: inherit
}

body::-webkit-scrollbar {
    width: 10px;
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
}

body::-webkit-scrollbar-track-piece {
    display: none;
}

body::-webkit-scrollbar-track {
    display: none;
}



@media (min-width: 1281px) {



}

@media (min-width: 768px) and (max-width: 1280px) {

}
