html {
    box-sizing: border-box
}

.logo-row {
    display: flex;
    align-items: center;
    justify-content: center;

}

*,
*:before,
*:after {
    box-sizing: inherit
}

body::-webkit-scrollbar {
    width: 10px;
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
}

body::-webkit-scrollbar-track-piece {
    display: none;
}

body::-webkit-scrollbar-track {
    display: none;
}