body {
    width: 100%;
}

.footer {
    background: #000;
    padding: 5% 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 5% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

.social_media_button {
    filter: invert(1) brightness(0.5);
    transition: 0.25s;
}

.social_media_button:hover {
    filter: invert(1) brightness(1);
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .footer {
        padding: 2% 0px;
    }

    .footer .row {
        margin: 1% 0%;
    }
  }
  

@media (min-width: 768px) and (max-width: 1280px) {

    .footer .row {
        margin: 2% 0%;
    }
}
